.cache
.ssh
.bash_history
.vscode
node_modules

/core/cache
/core/config/config.inc.php
/public_html/assets/_cache
/public_html/cgi-bin
/public_html/assets/site/company

/html

/_docker/config/*
/_docker/data/*
/_docker/logs/*